<body style="padding:50px 550px;">
    <h2> 个人资料 </h2>
    <%= simple_form_for [:account, @user] do |f| %>
        <div style="padding-top:30px;">
            <h4 >用户名：</h4>
            <div style="padding-left: 80px; margin:30px 0 50px 0">
                <%= simple_format(@user.username) %>
              </div>

                <h4 >邮箱</h4>
                  <div style="padding-left: 80px; margin:30px 0 50px 0">
                 <%= simple_format(@user.email) %>
                <div>
            </div>
            <p >
                <%= link_to("修改资料", edit_account_user_path(current_user), class: "seed" ) %>
            </p>
        <% end %>
    </body>
    <style>
        .seed {
                        margin-top: 100px;
                        text-align: center;
                        color: #fff; //字体颜色
                        border-width: 2px;
                        border-style: solid;
                        border-color: #fff;
                        background: none;
                        cursor: pointer;
                        display: inline-block;
                        font-family: Avenir Next LT W01 Demi;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: .2em;
                        height: 50px;
                        line-height: 1.2;
                        padding: 15px 30px;
                        text-align: center;
                        transition: .1s ease-in-out;
                        text-transform: uppercase;
                        width: 150px;
                        will-change: background-color,border-color,color;

                    }

                    .seed:hover {
                        background-color: #0dc3ad;
                    border-color: #0dc3ad;
                    color: #fff;
                    }

                    .lead {
                        font-size: 18px;
                        color: #BDBDBD;
                        font-weight: 400;
                    }
    </style>
