/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome"; //---------Navbar---------

.navbar-default {
    background-color: #222222;
    border-color: #222222;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #757575;
    padding: 10px 50px;
    line-height: 30px;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #757575;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #FF6F00;
    background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;
    color: #212121;
}
//---------Video-------

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
//---------Box---------

.box {
    // // background-image: url("header.jpg");
    // background-repeat: repeat-x;
    // background-size: cover;
    // margin: 0 -30px;
    .box-inner {
        background-color: rgba(0, 0, 0, 0.1);
        padding-top: 70px;
        padding-bottom: 70px;
         letter-spacing: 15px;
    }

    .title {
        text-align: center;
        color: #FAFAFA;
        font-size: 50px;
        margin-bottom: 80px;
        margin-top: 0;
        padding-top: 20px;
    }

    .slogan {
        color: #222;
        margin-top: 10px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 25px;
        top: 12px;
    }

    .lead {
        margin-bottom: 60px;
        text-align: center;
        letter-spacing: 3px;
        color: white;
    }
}
//-----按钮
 .btn-danger {
     color: #fff;//字体颜色

     background-color: #EF6C00;//背景颜色

     border-color: #EF6C00;//边框颜色

 }

 .btn-danger:hover {
     background-color: #E65100;//鼠标放置在btn上的背景颜色

     border-color: #E65100;//鼠标放置在btn上的边框颜色

 }

  .btn-lg, .btn-group-lg > .btn {
     padding: 8px 16px;//通过padding来决定btn的大小
     font-size: 20px;//btn文字大小
     letter-spacing: 3px;//调整文字间距
     border-radius: 3px;//btn圆角
     width: 200px;//这里用指定宽度把btn拉得更长
 }
//----ABOUT-----

.sec-about {
    font-family: 'Open sans', sans-serif;
    padding: 4em 0;
    background: #E0E0E0;
    line-height: 1.42857143;
    text-align: center;

    h1 {
        font-weight: 200;
    }

    p {
        line-height: 1.5;
        color: #333333;
        font-weight: 100;
        font-size: 16px;
    }
}
//-----
//---------Content---------

.content-section-a {
    padding: 50px 0;
    margin: 0 -15px;
    background-color: #f8f8f8;
}

.content-section-b {
    background-color: #ffffff;
    padding: 50px 0;
    margin: 0 -15px;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    margin: 0 -15px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    color: #BDBDBD;
    font-weight: 400;
}
//---------Footer---------

footer {
    color: white;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #222222;
}
